{% load staticfiles %}
<!doctype html>
<html>
    <head>
        <title>{% block title %}cowdash{% endblock title %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link async href="{% static "cow/css/cowhide.css" %}" rel="stylesheet" title="cow fonts">
        {% block head %}{% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <a href="{% url 'page_list' %}">Home <i class="icon-home"></i></a>
                <a href="javascript:history.back()">Back <i class="icon-left-open"></i></a>
            </nav>
        </header>
        <div class="container">
            {% block content %}{% endblock content %}
        </div>
    </body>
</html>
